wsdl/timeservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/timeservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="timeservice"
	targetNamespace="http://www.example.org/timeservice/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/timeservice/">
			<xsd:element name="TimeResponseElement">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Time" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RequestTimeElement">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TimeZone" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="TimeServiceRequestMessage">
		<wsdl:part element="tns:RequestTimeElement" name="parameters" />
	</wsdl:message>
	<wsdl:message name="TimeServiceResponseMessage">
		<wsdl:part element="tns:TimeResponseElement" name="parameters" />
	</wsdl:message>


	<wsdl:portType name="TimeServicePortType">
		<wsdl:operation name="RequestTime">
			<wsdl:input message="tns:TimeServiceRequestMessage" />
			<wsdl:output message="tns:TimeServiceResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:binding name="TimeServiceSOAP" type="tns:TimeServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RequestTime">
			<soap:operation soapAction="urn:RequestTime" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="TimeService">
		<wsdl:port binding="tns:TimeServiceSOAP" name="TimeServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
